spring.datasource.url=jdbc:postgresql://localhost:5432/desertakal_db
spring.datasource.username=postgres
spring.datasource.password=password
spring.datasource.driver-class-name=org.postgresql.Driver

app.api.base-url=

spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true


minio.url=
minio.accessKey=
minio.secretKey=
minio.bucketName=

security.jwt.secret=
security.jwt.access.expiration=900000
security.jwt.refresh.expiration=2592000000

security.cookie.secure=

spring.security.oauth2.client.registration.google.client-id=
spring.security.oauth2.client.registration.google.client-secret=
spring.security.oauth2.client.registration.google.scope=

spring.security.oauth2.client.registration.facebook.client-id=
spring.security.oauth2.client.registration.facebook.client-secret=
spring.security.oauth2.client.registration.facebook.scope=

spring.security.oauth2.client.registration.discord.client-id=
spring.security.oauth2.client.registration.discord.client-secret=
spring.security.oauth2.client.registration.discord.scope=


spring.security.oauth2.client.provider.discord.authorization-uri=https://discord.com/api/oauth2/authorize
spring.security.oauth2.client.provider.discord.token-uri=https://discord.com/api/oauth2/token
spring.security.oauth2.client.provider.discord.user-info-uri=https://discord.com/api/users/@me
spring.security.oauth2.client.provider.discord.user-name-attribute=username

app.oauth2.redirect-uri=
