spring.datasource.url=jdbc:postgresql://localhost:5432/desertakal_db
spring.datasource.username=postgres
spring.datasource.password=password
spring.datasource.driver-class-name=org.postgresql.Driver

security.jwt.secret=
security.jwt.access.expiration=900000
security.jwt.refresh.expiration=2592000000

spring.security.oauth2.client.registration.google.client-id=
spring.security.oauth2.client.registration.google.client-secret=
spring.security.oauth2.client.registration.google.scope=

spring.security.oauth2.client.registration.facebook.client-id=
spring.security.oauth2.client.registration.facebook.client-secret=
spring.security.oauth2.client.registration.facebook.scope=

spring.security.oauth2.client.registration.discord.client-id=
spring.security.oauth2.client.registration.discord.client-secret=
spring.security.oauth2.client.registration.discord.scope=